<div>
    <snap-drawer>
        <div class=snap-menu>
            <div class="sidebar-header text-center">
                <img src=images/flat-avatar.png class="sidebar-img img-circle">
            </div>
            <ul class=snap-ul>
                <li ng-class="{active: $state.includes('overview')}">
                    <a ui-sref="overview">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        HOME</a>
                </li>
                <li>
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        LOGOUT</a>
                </li>
            </ul>
        </div>
    </snap-drawer>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close=false>
        <a snap-toggle=left ng-click="menuOpen = !menuOpen">
            <span class=menutoggle>
                <i ng-hide=menuOpen class="fa fa-bars fa-2x"></i>
                <i ng-show=menuOpen class="fa fa-times fa-2x"></i>
            </span>
        </a>
        <div class=fr>
            <h2>Home
                <small>Welcome to DogFish Portal</small>
            </h2>
        </div>
        <div class=jumbotron>
            <div ng-include="'views/dashboard/overview_file_list.html'"></div>
        </div>
    </snap-content>
</div>
